*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
/* ----------Primary -----------*/
    --Very-Dark-Magenta: hsl(300, 43%, 22%);
    --Soft-Pink: hsl(333, 80%, 67%);
/* ----------Neutral-------------- */
    --Dark-Grayish-Magenta: hsl(303, 10%, 53%);
    --Light-Grayish-Magenta: hsl(300, 24%, 96%);
    --White: hsl(0, 0%, 100%);
}
ul{
    list-style-type: none;
}
body{
    min-height: 100vh;
    width: 100%;
    font-size: 15px;
    font-family: 'Spartan', sans-serif;
    background-image: url(images/bg-pattern-top-desktop.svg), url(images/bg-pattern-bottom-desktop.svg);
    background-repeat: no-repeat;
    background-position: top left, right bottom;
    display: flex;
    justify-content: center; 
    position: relative;
}
/* ----------------start styling the main content------------- */
main {
    max-width: 69.375rem;
    display: flex;
    align-content: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 8.2rem;
}
main>.testimonial-row{
    flex-basis: 100%;
    min-width: 100%;
}
/*---------------- start styling the first .testimonial-row-------------- */
.testimonial-row:first-child {
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.testimonial-row:first-child>*{
    flex-basis: 50%;
    min-width: 300px;
}
/*---------------- start styling the main section in the first .testimonial-row-------------- */
.main__section {
    padding: 0 2rem;
    animation: transport_main 1s linear;
}
@keyframes transport_main {
    0%{
        transform: translateX(-500px);
    }
    100%{
        transform: translateX(0);
    }   
}
.main__section .title{
    font-size: 3rem;
    line-height: 3rem;
    color: var(--Very-Dark-Magenta);
    font-weight: 700;
    letter-spacing: -2px;
    margin-bottom: 1.5rem;
}
.main__section .description {
    font-size: 1rem;
    line-height: 1.5;
    font-weight: 500;
    color: var(--Dark-Grayish-Magenta);
    padding-right: 3rem;
}
/* -----------------start styling the rate section -------------*/
.rate__section{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-direction: column;
    padding-right: 2rem;
    animation: transport_rate 1s linear;
}
@keyframes transport_rate{
    0%{
        transform: translateX(500px);
    }
    100%{
        transform: translateX(0);
    }   
}
.rate__section li {
    background-color: var(--Light-Grayish-Magenta);
    border-radius: 5px;
    padding: 1rem 0 1rem 2rem;
    margin: .6rem 0;
    min-width: 288px;
    width: 88%;
    display: flex;
    align-items: center;
}
.rate__section li:first-child{
    margin-right: 60px;
}
.rate__section li:nth-child(2){
    margin-right: 30px;
}
.rate__section li .reviews{
    font-size: 13px;
    line-height: 13px;
    font-weight: 700;
    padding-left: 1rem;
    color: var(--Very-Dark-Magenta);
}
/* start styling the second .testimonial-row section */
.testimonial-row:last-child{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:0 2rem;
}
.testimonial-row:last-child .in__testimonial__section{
    background-color: var(--Very-Dark-Magenta);
    flex-basis: 30%;
    min-width:330px;
    border-radius: .5rem;
    padding: 1.688rem; 
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    transition: transform .4s ease;
    animation: transport 1s linear 1;
}
.in__testimonial__section:hover{
    transform: translateY(-5px);
}
@keyframes transport {
    0%{
        transform: translateY(500px);
    }
    100%{
        transform: translateY(0);
    }
}
.in__testimonial__section figure{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 1rem;
}
.in__testimonial__section figure img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.in__testimonial__section figure .buyer__title{
    color: var(--White);
    font-size: 13px;
    margin-left: 1.5rem;
}
.in__testimonial__section figure .buyer__title span{
    display: block;
    color: var(--Soft-Pink);
    font-weight: 400;
    margin-top: 10px;
}
.in__testimonial__section .sub__description{
    color: var(--White);
    font-size: 14px;
    line-height: 1.5;
}
.in__testimonial__section:nth-child(2){
    margin-top: 60px;
}
.in__testimonial__section:last-child{
    margin-top: 120px;
}
/*----------------------- start styling the attribution ------------ */
.attribution {
    position: absolute;
    bottom: 0;
    font-size: 11px;
    text-align: center;
    color: var(--Very-Dark-Magenta);   
}
.attribution a {
    color: var(--Soft-Pink);
}
.attribution a:focus-visible{
    outline: 2px dashed var(--Very-Dark-Magenta);
}
/* media query for screens less than  */
@media screen and ( max-width: 69.438rem ){
    main{
        width: 100%;
    }
    .testimonial-row:first-child{
        padding: 0 1rem;
    }
    .rate__section li {
        margin: 0.5rem 0;
        min-width: 18rem;
        flex-direction: column;
        justify-content: center;
        padding: 0.5rem 0
    }
    .testimonial-row:last-child{
        flex-wrap: wrap;
        justify-content:center;
        margin-top: 1rem;
    }
    .testimonial-row:last-child .in__testimonial__section{
        min-width:18rem;
        flex-basis: 46%;
        margin: 1rem ;
    }
    .testimonial-row:last-child .in__testimonial__section p{
        padding-right: 2rem;
    }
}
/* media query for screens less than  */
@media screen and ( max-width: 53.688rem){
    main{
        padding-top: 5rem;
    }
    .testimonial-row:first-child,
    .testimonial-row:last-child{
        padding:0;
    }
    .testimonial-row:first-child{
        flex-wrap: wrap;
    }
    .testimonial-row:first-child>*{
        width: 100%;
        flex-basis: 100%;
        justify-content: center;
    }
    .main__section{
        text-align: center;
        padding: 0 6rem 1.5rem 6rem
    }
    .main__section p{
        padding: 0 ;
        font-size: 13px;
    }
    .rate__section{
        padding-right:0;
        align-items: center;
    }
    .rate__section li:first-child{
        margin-right:0;
    }
    .rate__section li:nth-child(2){
        margin-right: 0;
    }
    .rate__section li .reviews{
        font-size: 11px;
        line-height: 11px;
        padding-left: 0;
        margin-top: .5rem;
    }
    .testimonial-row:last-child .in__testimonial__section{
        flex-basis: auto;
        width: 88%;
        min-width: 288px;  
        margin: 1rem 0;
    }
    .testimonial-row:last-child .in__testimonial__section p{
        padding-right:0;
    }
}
/* media query for screens less than  */
@media screen and ( max-width:33.75rem){
    main{
        padding-top: 4rem;
    }
    .main__section{
        padding:0 3.5rem 1.5rem 3.5rem
    }
    .main__section h1{
        font-size: 2rem;
        line-height: 2rem; 
    }
}
